In [5]:
%pip install beautifulsoup4
%pip install requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)

In [6]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

from time import sleep
from random import randint

Creating the list we want into

In [7]:
titles = []
years = []
time = []
imdb_ratings = []
metascores = []
votes = []
us_gross = []

Getting english titles from movies

In [8]:
headers = {'Accept-Language' : 'en-US, en;q=0.5'}

Setting the list of 250 moivies

In [11]:
pages = np.arange(1, 251, 50)
pages

array([  1,  51, 101, 151, 201])

 Storing each of the urls of 50 movies

In [13]:
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&start=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    # Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    
    # Controling the loopâ€™s rate by pausing the execution of the loop for a specified amount of time
    # Waiting time between requests for a number between 2-10 seconds
    sleep(randint(2,10))
    
    for container in movie_div:
        # Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)
        
        # Scraping the movie's year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
        
        # Scraping the movie's length
        runtime = container.find('span', class_='runtime').text if container.p.find('span', class_='runtime') else '-'
        time.append(runtime)
        
        # Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        
        # Scraping the metascore
        m_score = container.find('span', class_='metascore').text if container.find('span', class_='metascore') else '-'
        metascores.append(m_score)
        
        # Scraping votes and gross earnings
        nv = container.find_all('span', attrs={'name':'nv'})
        vote = nv[0].text
        votes.append(vote)
        grosses = nv[1].text if len(nv) > 1 else '-'
        us_gross.append(grosses)

Creating Data Set

In [15]:
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'time_minute':time,
                       'imdb_rating':imdb_ratings,
                       'metascore':metascores,
                       'vote':votes,
                       'gross_earning':us_gross})

movies.head(10)

                                   movie    year  ...     vote  gross_earning
0             The Trial of the Chicago 7  (2020)  ...   56,052              -
1                                  Tenet  (2020)  ...  145,126        $53.80M
2      Spider-Man: Into the Spider-Verse  (2018)  ...  351,964       $190.24M
3                          The Gentlemen  (2019)  ...  204,419              -
4  Harry Potter and the Sorcerer's Stone  (2001)  ...  641,120       $317.58M
5                             Knives Out  (2019)  ...  414,864       $165.36M
6                               Parasite  (2019)  ...  506,882        $53.37M
7       Once Upon a Time... In Hollywood  (2019)  ...  528,055       $142.50M
8                        Soorarai Pottru  (2020)  ...   29,663              -
9                                   1917  (2019)  ...  389,434       $159.23M

[10 rows x 7 columns]

In [16]:
movies.dtypes

movie             object
year              object
time_minute       object
imdb_rating      float64
metascore         object
vote              object
gross_earning     object
dtype: object

Cleaning the Data Set

In [17]:
# Cleaning 'year' column
movies['year'] = movies['year'].str.extract('(\d+)').astype(int)
movies.head(3)

                               movie  year  ...     vote  gross_earning
0         The Trial of the Chicago 7  2020  ...   56,052              -
1                              Tenet  2020  ...  145,126        $53.80M
2  Spider-Man: Into the Spider-Verse  2018  ...  351,964       $190.24M

[3 rows x 7 columns]

In [18]:
# Cleaning 'time_minute' column
movies['time_minute'] = movies['time_minute'].str.extract('(\d+)').astype(int)
movies.head(5)

                                   movie  year  ...     vote  gross_earning
0             The Trial of the Chicago 7  2020  ...   56,052              -
1                                  Tenet  2020  ...  145,126        $53.80M
2      Spider-Man: Into the Spider-Verse  2018  ...  351,964       $190.24M
3                          The Gentlemen  2019  ...  204,419              -
4  Harry Potter and the Sorcerer's Stone  2001  ...  641,120       $317.58M

[5 rows x 7 columns]

In [19]:
# Cleaning 'metascore' column
movies['metascore'] = movies['metascore'].str.extract('(\d+)')
# convert it to float and if there are dashes turn it into NaN
movies['metascore'] = pd.to_numeric(movies['metascore'], errors='coerce')

In [20]:
# Cleaning 'vote' column
movies['vote'] = movies['vote'].str.replace(',', '').astype(int)
movies.head(3)

                               movie  year  ...    vote  gross_earning
0         The Trial of the Chicago 7  2020  ...   56052              -
1                              Tenet  2020  ...  145126        $53.80M
2  Spider-Man: Into the Spider-Verse  2018  ...  351964       $190.24M

[3 rows x 7 columns]

In [ ]:
# Cleaning 'gross_earning' column
# left strip $ and right strip M 
movies['gross_earning'] = movies['gross_earning'].map(lambda x: x.lstrip('$').rstrip('M'))

In [26]:
# convert it to float and if there are dashes turn it into NaN
movies['gross_earning'] = pd.to_numeric(movies['gross_earning'], errors='coerce')
movies.head(5)

                                   movie  year  ...    vote  gross_earning
0             The Trial of the Chicago 7  2020  ...   56052            NaN
1                                  Tenet  2020  ...  145126          53.80
2      Spider-Man: Into the Spider-Verse  2018  ...  351964         190.24
3                          The Gentlemen  2019  ...  204419            NaN
4  Harry Potter and the Sorcerer's Stone  2001  ...  641120         317.58

[5 rows x 7 columns]

In [27]:
movies.dtypes

movie             object
year               int64
time_minute        int64
imdb_rating      float64
metascore        float64
vote               int64
gross_earning    float64
dtype: object

Final Data Set

In [28]:
movies

                                     movie  year  ...    vote  gross_earning
0               The Trial of the Chicago 7  2020  ...   56052            NaN
1                                    Tenet  2020  ...  145126          53.80
2        Spider-Man: Into the Spider-Verse  2018  ...  351964         190.24
3                            The Gentlemen  2019  ...  204419            NaN
4    Harry Potter and the Sorcerer's Stone  2001  ...  641120         317.58
..                                     ...   ...  ...     ...            ...
245                          Into the Wild  2007  ...  565568          18.35
246                               Sin City  2005  ...  735590          74.10
247                   The Bourne Supremacy  2004  ...  430415         176.24
248                       Scent of a Woman  1992  ...  258180          63.90
249                        Children of Men  2006  ...  460668          35.55

[250 rows x 7 columns]

Saving the data to a csv file

In [32]:
movies.to_csv('movies.csv')